ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(120,120,120);;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*sticky*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

a {
    color:rgb(104, 67, 67);
}
A:hover { COLOR: rgb(129, 129, 145); TEXT-DECORATION: none; font-weight: none }
.menu{
    background-color: rgb(142, 162, 198,0.5);
}
.summary{
    background-image: url("../img/haldenFortress.jpg") ;
    height: 100%;
    
}
.sum{
    text-align: center;
    font-size:100px;
    position: absolute;
    top: 40%; left: 30%;
    transform: translate(-25%,-50%);
}
.grid-container {
    background-image: url("../img/haldenFortress.jpg") ;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 50px 100px;
}
.grid-item {
    border: 1px solid rgba(55,155, 155, 0.7);
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    background-color: rgb(142, 162, 198,0.6);
    height: 85%;
    
}

.history {
    background-image: url('../img/haldenNuclear.jpg');
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.incident{
    height:100%;
    background-image: url('../img/radioactive.jpg')
}

.ife {
    background-image: url('../img/reactorSunset.jpg');
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.people{
    height:100%;
    background-image: url('../img/Fortress.JPG')
}

.title{
    text-align: center;
    font-size:50px;
    color:  #080841;
    margin: 0px;
    
}

.texte{
    background-color: rgb(142, 162, 198,0.5) ;
}

p{
    margin: 10px;
}

.date{
    text-align: center;
    padding: 10px;
    font-size: 32px;
    color:  #000080;
}

.important{
    font-size: 38px;
    text-align: center;
}




.main-timeline{ font-family: 'Roboto', sans-serif; }
.main-timeline .timeline{
    width: 57.3%;
    padding: 0 0 0 80px;
    margin-bottom: 20px;
    border: 10px solid #E52449;
    border-radius: 90px;
    float: right;
    position: relative;
}
.main-timeline .timeline:before{
    content: '';
    height: 115%;
    width: 10px;
    background-color: #fff;
    transform:translateY(-50%);
    position: absolute;
    left: 70px;
    top: 50%;
}
.main-timeline .timeline-content{
    background-color: #E52449;
    text-align: left;
    border-radius: 0 90px 90px 0;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .content{
    background-color: #fff;
    padding: 17px 40px 17px 80px;
    border-radius: 90px;
}
.main-timeline .timeline-year{
    color: #fff;
    background-color: #E52449;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 110px;
    height: 130px;
    width: 130px;
    border: 10px solid #D8DCE0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5) inset;
    border-radius: 50%;
    transform:translateY(-50%);
    position: absolute;
    left: -70px;
    top: 50%;
}
.main-timeline .title{
    color: #E52449;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.main-timeline .description{
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0 0 5px 0;
}
.main-timeline .timeline:nth-child(even){
    float: left;
    padding: 0 80px 0 0;
}
.main-timeline .timeline:nth-child(even):before{
    left:auto;
    right: 70px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left:auto;
    right: -70px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    border-radius: 90px 0 0 90px;
    text-align: right;
}
.main-timeline .timeline:nth-child(even) .content{ padding: 17px 80px 17px 40px; }
.timeline:nth-child(6n+2){border-color: #F67900;}
.timeline:nth-child(6n+2) .timeline-content{background-color: #F67900;}
.timeline:nth-child(6n+2) .timeline-year{background-color: #F67900;}
.timeline:nth-child(6n+2) .title{color: #F67900;}
.timeline:nth-child(6n+3){border-color: #f3ad0a;}
.timeline:nth-child(6n+3) .timeline-content{background-color: #f3ad0a;}
.timeline:nth-child(6n+3) .timeline-year{background-color: #f3ad0a;}
.timeline:nth-child(6n+3) .title{color: #f3ad0a;}
.timeline:nth-child(6n+4){border-color: #8ab814;}
.timeline:nth-child(6n+4) .timeline-content{background-color: #8ab814;}
.timeline:nth-child(6n+4) .timeline-year{background-color: #8ab814;}
.timeline:nth-child(6n+4) .title{color: #8ab814;}
.timeline:nth-child(6n+5){border-color: #3C9EEF;}
.timeline:nth-child(6n+5) .timeline-content{background-color: #3C9EEF;}
.timeline:nth-child(6n+5) .timeline-year{background-color: #3C9EEF;}
.timeline:nth-child(6n+5) .title{color: #3C9EEF;}
.timeline:nth-child(6n+6){border-color: #9241EA;}
.timeline:nth-child(6n+6) .timeline-content{background-color: #9241EA;}
.timeline:nth-child(6n+6) .timeline-year{background-color: #9241EA;}
.timeline:nth-child(6n+6) .title{color: #9241EA;}
@media screen and (max-width:1200px){
    .main-timeline .timeline{ width: 59%; }
    .main-timeline .timeline-content{ border-radius: 0 92px 92px 0; }
    .main-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 92px 0 0 92px; }
    .main-timeline .content{ padding: 25px 40px 25px 80px; }
    .main-timeline .timeline:nth-child(even) .content{ padding: 25px 80px 25px 40px; }
}
@media screen and (max-width:990px){
    .main-timeline .timeline{ width: 61.7%;}
}
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
    .main-timeline .timeline:nth-child(even){
        float: right;
        padding: 0 0 0 80px;
    }
    .main-timeline .timeline:nth-child(even):before{ left:70px; }
    .main-timeline .timeline:nth-child(even) .timeline-content{
        border-radius:0 92px 92px 0;
        text-align: left;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{ left: -70px; }
    .main-timeline .timeline:nth-child(even) .content{ padding: 25px 40px 25px 80px; }
}
@media screen and (max-width:479px){
    .main-timeline{ padding-top: 30px; }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        padding: 0;
        margin-bottom: 60px;
        border-radius: 10px;
    }
    .main-timeline .timeline:before{ display: none;}
    .main-timeline .timeline-content,
    .main-timeline .content{
        border-radius: 0 0 0 0;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        top: -70px;
        left: 50%;
        transform:translateY(0) translateX(-50%) scale(0.7);
    }
    .main-timeline .timeline:nth-child(even) .content,
    .main-timeline .content{
        text-align: center;
        padding: 55px 20px 20px;
    }
    .main-timeline .title{ font-size: 18px; }
}