ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*sticky*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

a {
    text-decoration:none;
    color:black;
}
.grid-container {
    background-image: url("../img/haldenFortress.jpg") ;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 50px 100px;
}
.grid-item {
    border: 1px solid rgba(55,155, 155, 0.7);
    border-radius: 5%;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(142, 162, 198,0.6);
    height: 90%;
}

.history {
    background-image: url('../img/haldenNuclear.jpg');
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.incident{
    height:100%;
    background-image: url('../img/radioactive.jpg')
}

.ife {
    background-image: url('../img/reactorSunset.jpg');
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.people{
    height:100%;
    background-image: url('../img/Fortress.JPG')
}

.title{
    text-align: center;
}

.texte{
    background-color: rgb(142, 162, 198,0.4) ;
}